#principal {
    width: 160px;    
    border: green 2px solid;
    background-color: yellow;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
}

.contenido {
    margin: 5px;
    text-align: center;
}

/* .contenido>.rojo */

input {
    padding: 5px;
}