#principal {
    width: 160px;    
    border: green 2px solid;
    background-color: yellow;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
}

#details {
    width: 200px;
    text-align: center;
    border: black 1px solid;
    background-color: gray;
    border-radius: 10px;
    padding: 1px 9px 1px 9px;
    margin: auto;
    font-size: 80%;
    font-family:'Courier New', Courier, monospace; 
    color: greenyellow;
    line-height: 0.8;
    text-shadow: 3px 3px 2px black;
    box-shadow: 5px 5px 15px 5px black;
}

.contenido {
    margin: 5px;
    text-align: center;
}

/* .contenido>.rojo */

input {
    padding: 5px;
}

.error {
    color: red;
}

#ibutton {
    color: rgb(224, 223, 220);
    background: rgb(85, 102, 119);
    letter-spacing: 0.1em;
    /* text-shadow: rgb(255, 255, 255) 0px -1px 0px, rgb(46, 46, 46) 0px 1px 0px, rgb(44, 44, 44) 0px 2px 0px, rgb(42, 42, 42) 0px 3px 0px, rgb(40, 40, 40) 0px 4px 0px, rgb(38, 38, 38) 0px 5px 0px, rgb(36, 36, 36) 0px 6px 0px, rgb(34, 34, 34) 0px 7px 0px, rgb(32, 32, 32) 0px 8px 0px, rgb(30, 30, 30) 0px 9px 0px, rgb(28, 28, 28) 0px 10px 0px, rgb(26, 26, 26) 0px 11px 0px, rgb(24, 24, 24) 0px 12px 0px, rgb(22, 22, 22) 0px 13px 0px, rgb(20, 20, 20) 0px 14px 0px, rgb(18, 18, 18) 0px 15px 0px, rgba(0, 0, 0, 0.9) 0px 22px 30px; */
    --darkreader-inline-color: #d3cfca;
    --darkreader-inline-bgimage: initial;
    --darkreader-inline-bgcolor: #44525f;   
}